<a
  class="image-link {% if settings.make_black_white == true %}black-white-hover{% endif %}"
  href="{{ settings.link_url }}"
>
  {{- settings.link_image | image_url: width: settings.image_size | image_tag -}}
</a>
